<div class="col-auto">
	<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px;">
		<form action="/students/:id/update" method="post">
			<div class="row-12 text-right">
				First Name:      <input type="text" name="firstName" value="{{student.firstName}}"><br>
			</div>
			<div class="row-12 text-right">
				Last Name:      <input type="text" name="lastName" value="{{student.lastName}}"><br>
			</div>
			<div class="row-12 text-right">
				Grade:      <input type="text" name="grade" value="{{student.grade}}"><br>
			</div>
			<div class="row-12 text-right">
				School:      <input type="text" name="school" value="{{student.school.name}}"><br>
			</div>
			<div class="row-12 text-right">
				Age:      <input type="number" name="age" value="{{student.age}}"><br>
			</div>
			<div class="row-12 text-right">
				Phone Number:      <input type="text" name="phone" value="{{student.phone}}">
			</div>
		</form>
	</div>
</div>