<div class="col-auto">
	<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px;">
		<form action="/api/student" method="post">
			<div class="row-12 text-right">
				First Name:      <input type="text" name="firstName" placeholder="First Name"><br>
			</div>
			<div class="row-12 text-right">
				Last Name:      <input type="text" name="lastName" placeholder="Last Name"><br>
			</div>
			<div class="row-12 text-right">
				Grade:      <input type="text" name="grade" placeholder="Grade"><br>
			</div>
			<div class="row-12 text-right">
				School:      <input type="text" name="school" placeholder="School"><br>
			</div>
			<div class="row-12 text-right">
				Age:      <input type="number" name="age" placeholder=0><br>
			</div>
			<div class="row-12 text-right">
				Phone Number:      <input type="text" name="phone" placeholder = "000-000-0000">
			</div>
		</form>
	</div>
</div>