<nav class="nav navbar">
    <ul class="row" style="list-style-type: none;">
				<li class="nav-item">
        	<a class="nav-link active" href="">Home</a>
      	</li>
				<li class="nav-item">
        	<a class="nav-link active" href="">Forms</a>
      	</li>
				<li class="nav-item">
        	<a class="nav-link active" href="">Student</a>
      	</li>
				<li class="nav-item">
        	<a class="nav-link active" href="">School</a>
      	</li>
			</ul>
  </nav>