<nav class="navbar">
  <a class="nav-link active" href="/">Home</a>				
  <a class="nav-link active" href="/create">Create New</a>      
  <a class="nav-link active" href="/students">Student</a>      	
  <a class="nav-link active" href="/schools">School</a>
</nav>