</html><!DOCTYPE html>
<html dir="ltr" lang="en-US">

{{>head}}

<body class="container">
{{>nav}}

  <div class="row justify-content-center">
    <div class="col-md-6" style="margin-bottom:48px">
      <h1 class="row justify-content-center">{{title}}</h1><br>
        <div class="row justify-content-center">
          <div class="col-auto">
	          <div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px;">
		          <form action="" method="post">
			          <div class="row-12 text-right">
				          <label>Name:</label>&nbsp&nbsp<input type="text" name="name" value="{{school.name}}"><br>
			          </div>
			          <div class="row-12 text-right">
				          <label>Address:</label>&nbsp&nbsp<input type="text" name="address" value="{{school.address}}"><br>
			          </div>
			          <div class="row-12 text-right">
				          <label>City:</label>&nbsp&nbsp<input type="text" name="city" value="{{school.city}}"><br>
			          </div>
			          <div class="row-12 text-right">
				          <label>State:</label>&nbsp&nbsp<input type="text" name="state" value="{{school.state}}"><br>
                </div>
			          <div class="row-12 text-right">
				          <label>Phone Number:</label>&nbsp&nbsp<input type="text" name="phone" value="{{school.phone}}"><br>
                </div>
                  <input type="submit" value="Delete">
              </form>
	          </div>
          </div>
        </div>
		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>